:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
}
body {
  margin: 0;
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
}
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo-color {
  color: var(--accent-color);
}
.header {
  border-bottom: 1px solid;
  color: #ececec;
}
.header .logo-color-suffix {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.footer .logo-color-suffix {
  color: var(--primary-white-color);
}

ul {
  list-style: none;
}
.site-nav {
  display: flex;
}

.site-nav a {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  text-decoration: none;
  padding: 50px;
}
.site-nav a:hover,
.site-nav a:focus,
.site-nav .active {
  color: var(--accent-color);
}
.container {
  display: flex;
}
.contact-list a {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding: 10px;
  color: var(--primary-text-color);
}
header .contact-list {
  display: flex;
}
.contact-list a:hover,
.contact-list a:focus {
  color: var(--accent-color);
}
.hero {
  padding-top: 240px;
  padding-bottom: 240px;
  text-align: center;
  background: var(--title-text-color);
}
.hero .title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
}
.hero .button {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9px;
  letter-spacing: 0.06em;
  border-radius: 4px;
  color: var(--primary-white-color);
  background: var(--accent-color);
  cursor: pointer;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
}

.hero .button:hover,
.hero .button:focus {
  background-color: #188ce8;
}
.feature-list {
  margin-top: 94px;
  display: flex;
}
.feature-list .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.feature-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.section-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
}
.work-item {
  margin-bottom: 50px;
  font-weight: 700;
  display: flex;
}
.team-list {
  display: flex;
}
.team-list-item {
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 1.19;
}

.team-list-item-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

/*footer*/
.footer {
  background: var(--title-text-color);
  color: var(--primary-white-color);
}
.footer address {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7px;
  letter-spacing: 0.03em;
  font-style: normal;
}
.contact-list-footer a {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.contact-list-footer a:hover,
.contact-list-footer a:focus {
  color: var(--accent-color);
}

/* portfolio */
.filter-btn {
  display: flex;
}
.portfolio-filter-btn {
  font-family: inherit;
  height: 38px;
  min-width: 73px;
  left: 865px;
  top: 174px;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6px;
  text-align: center;
  letter-spacing: 0.03em background-color #f5f4fa;
}
.portfolio-filter-btn:hover,
.portfolio-filter-btn:focus {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
.portfolio {
  display: flex;
  flex-wrap: wrap;
}
.img {
  display: inline-block;
}
.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.portfolio-project {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}
